.page{
    margin: -8px;
    display: grid;
}
.header-view{
    background-color: rgb(36, 35, 35);
    height: 50px;
    padding: -10px;
}
.header{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 50px;
    margin-top: 0px;
    
}
.big-view{
    margin-left: 0px;
}
.access{
    margin-top: 0px;
    background-color: black;
    height: 703px;
}
.x-close{
    width: 30px;
    height: 50px;
    margin-left: 1290px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}


.text{
    color: white;
    margin-top: 100px;
}
.p{
    color: rgb(206, 203, 203);
    margin-top: 100px;
    margin-left: 690px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
.h{
    margin-top: 140px;
    margin-left: 430px;
    position: absolute;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
}
.passcode{
    display: flex;
    margin-top: -430px;
    margin-left: 430px;
}
.input{
    height: 150px;
    background-color: black;
    border: 2px solid white;
    margin-right: 10px;
}
.forgot {
margin-left: 750px;
margin-top: 160px;
color: white;
font-family: Arial, Helvetica, sans-serif;

}
::placeholder{
    color: white;
    font-size: 60px;
}